@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Mona Sans';
  font-weight: 200 900;
  font-display: block;
  font-style: normal;
  font-stretch: 75% 125%;
  src: url('../fonts/Mona-Sans.var.woff2') format('woff2');
}

html {
  @apply  h-full text-base antialiased;
}


.page-enter-active,
.page-leave-active {
  transition:
    opacity 0.5s ease,
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.page-enter-to,
.page-leave-from {
  opacity: 1;
}

::selection {
  background-color: #000;
  color: #fff;
}

@font-face {
  font-family: 'Futura-bold';
  src: url('../fonts/FuturaBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 100;
}
